@charset "UTF-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --main-color: #1b756b;
  --black: #334;
  --white: #fff;
  --light-bg: #d7fce7;
  --light-color: #666;
  --light-white: rgba(255, 255, 255, 0.3);
  --bg-color: #eee;

  --box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 8rem;
}

section {
  margin: 0 auto;
  max-width: 120rem;
  padding: 3rem 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--main-color);
  border-radius: 5rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  background-color: var(--black);
  border-radius: 5rem;
  transition: 0.2s linear;
}

.btn:hover::before {
  left: 0;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header .flex .logo {
  font-size: 2rem;
  color: var(--black);
}

.header .flex .logo i {
  margin-right: 0.5rem;
  color: var(--main-color);
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--black);
}

.header .flex .navbar a:hover {
  color: var(--main-color);
}

.header .flex .btn {
  margin-top: 0;
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  color: var(--black);
}
